<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Sonidos App
        </ion-title>

        <ion-buttons end>
            <button ion-button (click)="ordenando=true" *ngIf="!ordenando">
                Ordenar
            </button>
            <button ion-button (click)="ordenando=false" *ngIf="ordenando">
                Listo
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="recargarLista($event)" [enabled]="!ordenando">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list [reorder]="ordenando" (ionItemReorder)="reOrdenarAnimales($event)">
        <ion-item-sliding *ngFor="let animal of animales; let idx = index" (click)="reproducir(animal)">

            <button ion-item>
                <ion-avatar item-left>
                    <img [src]="animal.imagen" />
                </ion-avatar>
                <h2>{{ animal.nombre }}</h2>
                <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
                <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
            </button>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="borrarAnimal(idx)">
                    <ion-icon name="trash"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
</ion-content>